.clue-pane {
    -fx-max-width: 600;
    -fx-spacing: 5 15 5 15;
    -fx-alignment: CENTER;
}

.clue-list-pane {
    -fx-max-width: 500;
    -fx-alignment: CENTER-LEFT;
    -fx-background-color: #fff0d4;
    -fx-border-radius: 10;
    -fx-border-color: black;
    -fx-spacing: 10;
}

.case-title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-spacing: 10 10 10 10;
}

.case-description {
    -fx-wrap-text: true;
    -fx-max-width: 500;
    -fx-padding: 10 0 10 0;
}

.case-clue {
    -fx-wrap-text: true;
    -fx-padding: 5;
}

.suspect-type-selection-pane {
    -fx-alignment: CENTER;
    -fx-padding: 15;
    -fx-spacing: 10;
}