.clue-pane {
    -fx-max-width: 800;
    -fx-spacing: 5;
    -fx-alignment: CENTER;
}

.clue-list-pane {
    -fx-max-width: 500;
    -fx-alignment: CENTER-LEFT;
}

.case-title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.case-description {
    -fx-wrap-text: true;
    -fx-max-width: 500
}

.case-clues {
    -fx-wrap-text: true;
    -fx-padding: 5;
}

.combo-box{
    -fx-min-width: 400;
    -fx-border-color: #101010;
    -fx-background-color: white;
}

.combo-box .list-cell {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.combo-box .list-view .list-cell {
    -fx-text-fill: black;
}

.solution-input-pane {
    -fx-spacing: 5;
    -fx-alignment: CENTER;
}

.submit-solution-button {
    -fx-min-width: 400;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #7d0000;
    -fx-border-color: black;
}