.level-row {
    -fx-spacing: 30;
}

.level-card {
    -fx-pref-width: 375;
    -fx-pref-height: 250;
}

.locked-level {
    -fx-background-color: -murdle-red;
    -fx-alignment: CENTER;
}

.level-title-label {
    -fx-pref-width: 350;
    -fx-alignment: CENTER;
    -fx-font-style: bold;
}

.level-difficulty-label {
    -fx-pref-width: 300;
    -fx-alignment: CENTER-LEFT;
}