.level-row {
    -fx-spacing: 30;
}

.level-card {
    -fx-min-width: 200;
    -fx-min-height: 160;
    -fx-pref-width: 400;
    -fx-pref-height: 320;
}

.locked-level {
    -fx-background-color: -murdle-red;
    -fx-alignment: CENTER;
}

.level-title-link {
    -fx-pref-width: 300;
    -fx-pref-height: 60;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-text-fill: black;
}

.level-difficulty-label {
    -fx-pref-width: 300;
    -fx-alignment: CENTER-LEFT;
}